# Ignore bundler config
/.bundle

# Development & Test Databases
/db/development.sqlite3
/db/test.sqlite3

# Ignore the database config 
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Other junk
.DS_Store
*.sublime-*
.rvmrc
