#balance-well {
  padding: 10px;
  text-align: center;
  span.balance {
    font-weight: bold;
    font-size: 18px;
  }

  .balance-label {
    color: #afafaf;
    font-size: 10px;
    line-height: 12px;
  }
}
